<div class ="container">
    <div class ='row'>
        <div class ='col-xs-12'>
            <p>servers works!</p>
            <input [(ngModel)] = "username">
            <p>{{username}}</p>
            <button class="btn btn-primary" (click)="reset()">reset</button>
            <app-server></app-server>
            <app-server></app-server>
        </div>
    </div>
    <div class ='row'>
        <div class ='col-xs-12'>
            <button class='btn btn-primary' (click)="onToggleSecrateKey()">toggle</button>
            <p *ngIf ="secreteKey">{{secreteCode}}</p>
            <div *ngFor ="let item of log"
            [ngStyle] ="{ backgroundColor : item >= 5 ? 'blue' : 'transparent' }"
            [ngClass] ="{ 'white-class' : item >= 5}">
                {{item}}
            </div>
        </div>
    </div>
</div>


