<div class ="container">
<div class="row">
    <div class="xol-xs-12">
<p>This is Title {{title}}</p>
<app-servers></app-servers>

<div class="row">
    <div class="xol-xs-12">
        <app-game-control  (lastintervalFired)= "onlastIntervalFired($event)"></app-game-control>
    </div>
</div>

<div class="row">
    <div class="xol-xs-12">
        <app-odd *ngFor = "let oddNumber of oddNumbers" [number]="oddNumber" ></app-odd>
        <app-even  *ngFor = " let evenNumber of evenNumbers" [number]="evenNumber" ></app-even>
    </div>
</div>
</div>
</div>
</div>